<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Jessamyns Fridge Show Page</h1>

    <h3>Items Name: <%= item.name %></h3>
    <h4>Items Type: <%= item.type %></h4>
    <h4>Items Edible: <%= item.edible %></h4>
    <h4>Items Img: <%= item.img %></h4>

    <% if(Items).edible === true) {%>
      <span>Lets eat it!</span>
    <%} else {%>
      <span>lets not eat it</span>
    <% } %>
  </body>
</html>